<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bibliotapp">
        <activity
            android:name=".AdminEditExemplar"
            android:exported="false" />
        <activity
            android:name=".SelectSpace"
            android:exported="false" />
        <activity
            android:name=".ReserveSpace"
            android:exported="false" />
        <activity
            android:name=".AdminSpaceBookingSearch"
            android:exported="false" />
        <activity
            android:name=".AdminBookSearch"
            android:exported="false" />
        <activity
            android:name=".AdminBookShelfMap"
            android:exported="false" />
        <activity
            android:name=".AdminFee"
            android:exported="false" />
        <activity
            android:name=".AdminLoanSearch"
            android:exported="false" />
        <activity
            android:name=".AdminBookEditor"
            android:exported="false" />
        <activity
            android:name=".AdminBookRegister"
            android:exported="false" />
        <activity
            android:name=".AdminDigitalizationOrders"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".UserChatbot"
            android:exported="false" />
        <activity
            android:name=".UserBookSearch"
            android:exported="false" />
        <activity
            android:name=".UserDigitalizations"
            android:exported="false" />
        <activity
            android:name=".UserDigitalizationOrder"
            android:exported="false" />
        <activity
            android:name=".UserSpaceBooking"
            android:exported="false" />
        <activity
            android:name=".UserSpaceMap"
            android:exported="false" />
        <activity
            android:name=".UserBookShelfMap"
            android:exported="false" />
        <activity
            android:name=".UserFailedRegister"
            android:exported="false" />
        <activity
            android:name=".UserFailedOrder"
            android:exported="false" />
        <activity
            android:name=".UserFailedBooking"
            android:exported="false" />
        <activity
            android:name=".UserSuccesfulRegister"
            android:exported="false" />
        <activity
            android:name=".UserSuccesfulOrder"
            android:exported="false" />
        <activity
            android:name=".UserSuccesfulBooking"
            android:exported="false" />
        <activity
            android:name=".UserProcessingRegister"
            android:exported="false" />
        <activity
            android:name=".UserProcessingBooking"
            android:exported="false" />
        <activity
            android:name=".UserBookDetail"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".AccountRegister"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".ExampleRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>